@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 40px;
}

#hero {
  background-image: url('assets/Hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 652px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero .hero-content {
  width: 998px;
  margin: 50px;
}

#hero .hero-content .child-img {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}

#hero .hero-content .hero-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 45px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
}

#hero .hero-content .hero-details {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
  color: rgba(29, 43, 75, 0.7);
}

.hero-btn {
  padding: 21px 24px 21px 24px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

.btn {
  padding: 21px 24px 21px 24px;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

.btn-div {
  text-align: center;
}


#development {
  background-color: rgb(255, 255, 255);
  padding: 32px 32px 32px 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  /* background-color: rgb(243, 187, 181); */
}

#development .dev-content {
  width: 998px;
  margin: 50px;
}

#development .dev-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  margin-bottom: 32px;
  font-size: larger;
  display: flex;
  justify-content: center;

}

#development .dev-title h1,
#development .dev-title p {
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}


#development .dev-card {
  display: flex;
  gap: 40px;

}


#development .dev-card .dev-card-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#development .card-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 50px;
}

.img {
  width: 259.56px;
  height: 217.01px;
}

/* ------------------- */
#motivation {
  background-color: rgb(255, 255, 255);
  padding: 32px 32px 32px 32px;

  display: flex;
  margin: 0px 10px auto;
  justify-content: center;
  /* background-color: rgb(243, 187, 181); */
}


#motivation .moti-content {
  width: 998px;
  margin: 40px;
}

#motivation .moti-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  margin-bottom: 32px;
  font-size: larger;

  display: flex;
  justify-content: center;


}

#motivation .moti-title h1,
#motivation .moti-title p {
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}

/* -------------------- */
#target {
  background-color: rgb(255, 255, 255);
  padding: 32px 32px 32px 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  /* background-color: rgb(243, 187, 181); */
}


#target .target-content {
  width: 998px;
  margin: 50px;
}

#target .target-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  font-size: larger;


}

#target .target-title h1,
#target .target-title p {
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}

#target .card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#target .target-card {
  display: flex;
  gap: 40px;

}

#target .target-card .target-card-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#target.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#target .img {
  width: 40.45px;
  height: 45.12px;
}

.target-btn,
.nexttar-button {
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  border: none;
  text-decoration: underline;
  text-align: left;
}


#nexttar {
  background-color: rgb(255, 255, 255);
  padding: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  /* background-color: rgb(243, 187, 181); */
}

#nexttar .nexttar-content {
  width: 998px;
  margin: 50px;
}

#nexttar .nexttar-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  font-size: larger;

}

#nexttar .nexttar-title h1,
#nexttar .nexttar-title p {
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}

#nexttar .nexttar-card {
  display: flex;
  gap: 40px;
}

#nexttar .nexttar-card .nexttar-card-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#nexttar .card-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 60px;
}

#nexttar .card-container .img {
  width: 143.3px;
  height: 87.75px;
}


#support {
  background-image: url('assets/handshake.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 998px;
  margin: 0px auto;
  height: 314px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);

}

#support .support-content {
  margin: 50px;
  text-align: center;
}

#support .support-title {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 45px;
  font-weight: 800;
  line-height: 68px;
  margin-bottom: 32px;
}

#support .support-details {
  color: rgba(255, 255, 255, 0.7);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}

.form-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form-bar {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(13, 19, 33);
  width: 300px;
}

.submit-btn {
  padding: 10px 20px;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}



/* ----------------- */


#footer {
  padding: 32px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

#footer .footer-content {
  width: 998px;
  margin: 0 auto;
  /* Center content */
  display: flex;
  justify-content: space-between;
  align-items: center;
}